{% extends 'puttputt/base.html' %}
{% load static %}
{% block title %}Game{% endblock %}
{% block content %}

    <body>
        <p>Game</p>

        {% if last_hole %} <p>You're at the last hole!</p> {% endif %}

        <p>You are currently at hole {{hole}}</p>

        <p>Your current score is {{score}}</p> 

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <form action="/add-stroke" method="post">
                {% csrf_token %}
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button name="button" value="1" type="submit" class="btn btn-secondary">1</button>
                    <button name="button" value="2" type="submit" class="btn btn-secondary">2</button>
                    <button name="button" value="3" type="submit" class="btn btn-secondary">3</button>
                    <button name="button" value="4" type="submit" class="btn btn-secondary">4</button>
                    <button name="button" value="5" type="submit" class="btn btn-secondary">5</button>
                </div>
            </form>
        </div>
        {% if drinks != None %}
        <h2>Your pending drink orders</h2>
        <div class="table-responsive shadow mb-5">
            <table class="table table-striped mb-0">
                <tr>
                    <th class="pl-3">Drink</th>
                    <th>Quantity</th>

                </tr>
                {% for drink in drinks %}
                <tr>
                    <td class="align-middle pl-3">{{drink.drink.title}}</td>
                    <td class="align-middle">{{drink.quantity}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <h3>Feel free to order a drink while you play!</h3>
        {% endif %}
    </body>
{% endblock %}