{% extends 'puttputt/base.html' %}
{% load static %}
{% block title %}Index{% endblock %}
{% block content %}
        <!-- LOGGED IN USER SECTION BELOW -->
        {% if user.is_authenticated %}
        <h1>Welcome, {{ user.get_username }}!</h1>
            <h2>If you're here to sponsor a tournament, please wait for admin to upgrade your account</h2>
            {% if not tournament == None %}
                {% if game_done %}
                    <p>Looks like you finished your game, check the leaderboard <a href="/leaderboard">HERE</a></p>
                {% else %}
                    <h2>Your tournament is ready!</h2>
                    <p>Click below to enter your game!</p>
                    <a href="/game"> ENTER GAME </a>
                {% endif %}
            {% else %}
                <p>You're not part of a tournament yet... ask your sponsor to help!</p>
            {% endif %}
            
            <!--this can be removed but you can also bring it back. for testing, it's nice -->
<!--            <h2>All Users</h2>-->
<!--            <hr />-->
<!--            {% for item in all %}-->
<!--                <p>{{ item.fname }} {{ item.lname }}</p>-->
<!--                <p>{{item.get_username}}</p>-->
<!--                <hr />-->
<!--            {% endfor %}-->

        <!-- NOT LOGGED IN USER SECTION BELOW -->
        {% else %}
            <h1>Welcome to the PuttPutt app!</h1>
            <p>Please login or sign up to get started!</p>
            <p>
                <a href="/login" class="btn btn-primary">Log in</a>
                <a href="/register" class="btn btn-primary">Sign Up</a>
            </p>

        {% endif %}
{% endblock %}