{% extends 'puttputt/base.html' %}
{% load static %}
{% block title %}Drink Page{% endblock %}
{% block content %}
<main role="main">
    <div class="container">
        <h1>Drink Menu</h1>
        <span><h2 class="moneys">Your moneys: ${{player_info.current_funds}}</h2> <button class="btn btn-primary" data-toggle="modal"
                           data-target="#add-funds">Add moneys</button></span>
        <div class="row mt-3 mb-5">
            {% for drink in drinks %}
            <div class="col-lg-4 col-md-6 col-mb-4 d-flex">
                <div class="card h-100 shadow-sm popcard">
                    <img src={{drink.image}} class="card-img-top" alt="missing image">
                    <div class="card-body">
                        <h5 class="card-title">{{drink.title}}</h5>
                        <p class="card-text" id="price-of-{{drink.price}}">${{drink.price}}</p>
                        <button class="btn btn-primary" data-toggle="modal"
                           data-target="#new-order-modal-{{drink.id}}">Order</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-order-modal-{{drink.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="new-order-modal-{{drink.id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Please Select Quantity and Hole for Delivery</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" action="{% url 'order_drink' %}">
                            {% csrf_token %}
                            <div class="modal-body">
<!--                                <div class="qty mt-5">-->
                                    <label for="del">Select which hole you'd like it delivered to</label>
                                    <input type="number" name="del" id="del" min="1">
                                    <br/>
                                    <label for="qty">Select number of drinks</label>
                                    <br/>
                                    <input type="number" class="count" name="qty" id="qty" value="1" min="1"/>
                                    <br/>
                                    <br/>
                                    <p>Your order total: ${{drink.price}}</p>
                                    <p class="warn" style="color: red;"></p>
                                    <input hidden type="number" class="total" value="{{drink.price}}" name="total"/>
                                    <input hidden type="number" class="inc" value="{{drink.price}}"/>
                                    <input hidden value="{{drink.title}}" name="drink"/>

                                <input type="submit" class="btn btn-info float-right mt-4" id="btn" value="Order"/>
<!--                                    </div>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<div class="modal fade" id="add-funds" tabindex="-1" role="dialog"
                 aria-labelledby="add-funds" aria-hidden="true">
        <div class="modal-dialog" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h5 class="modal-title" >Add Funds Here</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        <div class="modal-body">
                            <form method="post" action="{% url 'add_funds' %}">
                                {% csrf_token %}
                                <input type="number" value="0" name="funds" min="0"/>
                                <input type="submit" class="btn btn-info float-right mt-4" value="Add Funds"/>
                            </form>
                        </div>
                    </div>
        </div>

    </div>
</main>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>		$(document).ready(function(){
   			$('.count').change(function(){
   			var hi = $(this).siblings('.inc').val();
   			if ($(this).val() < 1) {
						$(this).val(1);
					}
				$(this).siblings('.total').val($(this).val() * hi);
				var hello = $(this).siblings('.total').val();
				var yu = parseInt($('.moneys').text().split('$')[1]);
				$(this).siblings('p').html("<p>Your order total: $" + hello + "</p>");
				if (hello > yu) {
				    $(this).siblings("#btn").prop("disabled", true);
				    $(this).siblings('.warn').text("Order total exceeds current funds");
				}
				else{
                    $(this).siblings("#btn").prop("disabled", false);
				    $(this).siblings('.warn').text("");
				}
    		});
 		});
</script>

{% endblock %}