{% extends 'puttputt/base.html' %}
{% load static %}
{% block title %}Index{% endblock %}
{% block content %}

<body>
<h1>Welcome to the sponsor console, {{request.user.username}}!</h1>
</body>

{% if tournament != None %}
<h2>You have a tournament! It begins at {{tournament.start_time}} and goes until {{tournament.end_time}}</h2>
{% if tournament.fee_paid %}
<h2>Your tournament is all ready to go.</h2>
<h3>Curent users in your tournament:</h3>
<ul>
{% for player in playerz %}
<li>{{player.profile}}</li>
{% endfor %}
    </ul>
<!-- ADD USERS TO TOURNAMENT SECTION -->
<h3>Select players below to add to your tournament</h3>
<form action="/sponsor_add_player" method="post">
    {% csrf_token %}
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <ul>
        {% for player in players %}
            <li>
        <button name="button" value="{{player.profile.user.username}}" type="submit" class="btn btn-secondary" style="'padding':'20px';">
            {{player.profile.user.username}}
        </button></li>
        {% endfor %}
            </ul>
    </div>
</form>
{% else %}
<p>You still need to pay the fee for your tournament.</p>
<p>Pay below by pressing the button</p>
<form action="/sponsor_pay_fee" method="post">
    {% csrf_token %}
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button name="button" value="1" type="submit" class="btn btn-secondary">Pay $200</button>
    </div>
</form>
{% endif %}
</form>
{% else %}
<p>You do not have a tournament</p>
<p>You can begin by selecting a date below for your tournament</p>
<!-- DATE PICKER FORM -->
<form action="sponsor_date" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% endif %}
{% endblock %}}