<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'puttputt/style.css' %}"/>

    </head>

    <body>
        <div class="form-container" onsubmit={this.signUp}>
            <div class="align-center">
                <div class="form-inner">
                    <div class="header-text">
                        Create Account
                    </div>

                    <form method="POST">
                        {% csrf_token %}

                        {% if form.errors %}
                            <p>There are errors in the form</p>
                        {% endif %}

                        {{ form.error }}

                        {{ form.as_p }}

                        <div style="margin-top: 15">
                            <a class="styled-link" href="/login">already have an account?</a>
                            <button class="submit-button" type="submit">Create Account</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </body>
</html>